/*------------------------------Css For Nav Bar----------------------*/
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: black;
height: 70px;
}
#l{
font-size: 20px;
}
li {
float: left;
}
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-family: 'Montserrat';
font-size: 20px;
}
li a:hover {
background-color: red;
height: 80px;
}
#logo_name{
font-family: 'Lobster';
font-size: 30px;
}
#logo_name:hover{
background-color: black;
}