ul{
	list-style-type: none;
	background-color: black;
	height: 70px;
	margin-top: -8px;
}

li{
	float:left;
}
li a{
padding: 14px 16px;	
font-size: 20px;
text-decoration: none;
color: white;
display:inline-block;
font-family: 'Montserrat';
}
li a:hover{
	background-color: red;
	height: 42px;
}
#logo_name{
font-family: 'Lobster';
font-size: 30px;
}
#logo_name:hover{
	background-color: black;
}