
#cont_color{
	background-color: rgb(192,192,192);
	padding-bottom: 20px;
}
body{
	background-color: rgb(230,230,250);
}
/*------------------------------------CSS For NavBar------------------------------*/

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: black;
height: 70px;
}

#l{
font-size: 20px;
}
li {
float: left;

}
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-family: 'Montserrat';
font-size: 20px;
}

li a:hover {
background-color: red;
height: 80px;
}
#logo_name{
font-family: 'Lobster';
font-size: 30px;
}
#logo_name:hover{
background-color: black;
}
#line_style{
  background: rgb(127,255,0);
  height: 1px;
}
/*-----------------------------------------CSS For Header--------------------------------------------*/

.header{
background-repeat: none;
background-color: white;
background-image: url(../../images/card-images/header-background.jpg);
height: 450px;
margin-top: -8px;
margin-bottom: 12px;
}

/*------------------------------------------CSS For Hr Content-----------------------------------*/

.hr_content{
background-color: blue;
}
.hr_content p{
font-size: 25px;
text-align: center;
color: white;
font-family: "Abril Fatface";
}
.ln_hr{
  background: rgb(0,0,128);
  height: 1px;
}

/*-------------------------------------CSS For Card Layout --------------------------------------*/

.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition:0.5s
width: 40%;
position: relative;
}

.card:hover .overlay{
 bottom: 0;
 background:rgba(0,0,0,0.7);
  height: 100%;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: 'Montserrat';
}

.overlay {
  position: absolute;
  background:rgba(0,0,0,0.7);
   color: white;
   text-align: center;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  font-family: 'Montserrat';
  font-size: 14px;
}
.container {
padding: 2px 16px;
}
img{
width: 100%;
height: 180px;
}


h4{
	font-family: 'Cabin';
}

h3{
	font-family: 'Montserrat';
	font-size: 22px;
}
.card_name{
	height: 28px;
	margin-left: 34px;
}
.checked {
    color: rgb(250,235,215);
}

.text{
  background-color: grey;
 font-family: 'Montserrat';
   font-size: 25px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*-----------------------------------------CSS For Footer Gap---------------------------------------------------------*/

#footer_gap{
height: 100px;
}

/*--------------------------------------CSS For Footer-------------------------------------------*/
.footer{
background-color: rgb(255,228,196);
height: 380px;
}
#footer_div{
margin-top: 50px;
height: 200px;
}
.footer_text{
font-size: 20px;
height: 60px;
text-align: center;
font-family: 'Roboto Light';
}

.footer_lasttext{
font-size: 20px;
text-align: left;
font-family: 'Roboto Light';

}
h2{
text-align: center;
 font-family: 'Roboto';
 font-size: 25px;
}
input{
margin-top:-13px;
}
.font_text{
font-size: 16px;
margin-right: 12px;
height: 30px;
width: 200px;
}
.button {
background-color: #4CAF50;
border: none;
color: white;
padding: 12px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
position: relative;
margin: 4px 6px;
cursor: pointer;
}
#footer_lastgrid{
margin-left: 72px;
margin-top: -10px;
}

#button_effect img{
  height: 45px;
  width: 45px;
}